.landing{
    display: grid;
    grid-template-columns: 600px auto;
    grid-template-rows: auto;
    padding: 64px;
}
.leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
}